.advantages {
  margin: 0 20px;
  @media (min-width: 768px) {
    margin: 0 30px;
    border-bottom: 1px solid #E6E6E6;
  }
  @media (min-width: 1440px) {
    margin: 0 110px;
    border: none;
  }
}
.advantages__title {
  margin: 0;
  margin-bottom: 38px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 32px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
  list-style-type: none;
  display: grid;
  gap: 20px;
  @media (min-width:768px) {
    grid-template-columns: repeat(2,250px);
    column-gap: 133px;
    row-gap: 37px;
    padding-bottom: 47px;
  }
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    gap: 82px;
    padding-bottom: 0;

  }
}
.advantages__item {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    display: block;
    position: relative;
    min-height: 280px;
  }
  @media (min-width: 1440px) {
    width: 243.5px;
  }
}
.advantages__desc {
  margin: 0;
  margin-left: 80px;
  font-family: "Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
.advantages__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.advantages__number {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #F2F2F2;
    z-index: -1;
    right: 0;
    top: 0;
  }
}
