
.main-nav {
  margin: 0 auto;
  position: relative;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 62px;
    margin-top: 24px;
  }
  @media (min-width: 1330px) {
    padding: 0 110px;
    margin-top: 55px;
    margin-bottom: 112px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @media (min-width: 768px) {
    display: flex;
    width: 174px;
    gap: 36px;
  }
}
.site-list {
  @media (min-width: 768px) {
    display: flex;
    width: 500px;
    justify-content: flex-end;

  }
}
.main-nav__item {
  margin: 0 auto;
  padding: 22px 0 24px;
  text-align: center;
  height: min-content;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  @media (min-width: 768px) {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border: 0;
  }
  @media (min-width: 1440px) {
    padding-top: 17px;
  }
}
.main-nav__index {
  .main-nav__item--current {
    @media (min-width: 1440px) {
      border-bottom: 2px solid #FFFFFF;
    }
  }
}
.main-nav__item--current {
  @media (min-width: 768px) {
    border-bottom: 2px solid #68B738;
    padding-bottom: 8px;
  }
  @media (min-width: 1440px) {

    border-bottom: 2px solid #68B738;
    padding-bottom: 8px;
  }
}
.list-logo li:first-child {
  padding: 12px 70px 16px 20px;
  @media (min-width: 768px) {
    padding: 0;
  }
}
.main-nav__item--logo {
  display: block;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
.main-nav__index {
  .main-nav__link {
    @media (min-width: 1440px) {
      color: #FFFFFF;
    }
  }
}
.main-nav__link {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  @media (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.main-nav__toggle {
  position: absolute;
  right: 0;
  margin: 25px 20px 0 0;
  padding: 0;
  width: 24px;
  height: 20px;
  background-color: white;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  @media (min-width:768px) {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 1px;
  width: 17px;
  height: 18px;
  border: 0;
  background-color: #ffffff;
  background-image: url("../../img/icon-close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  @media (min-width:768px) {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 1.5px;
  box-shadow: 0 8px 0 0 black,
              0 16px 0 0 black;
  background-color: #000000;

  cursor: pointer;
  @media (min-width:768px) {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--closed ul:last-child {
  @media (max-width: 767px) {
    display: none;
  }
}
